[submodule "spacemacs"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
[submodule "tmux.conf"]
	path = /home/doug/.config/tmux
	url = https://github.com/gpakosz/.tmux
[submodule "prezto"]
	path = /home/doug/.config/zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto
