
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb;

font: monospace
! TODO should not be hardcoded to home/doug. we can instead pass in -DXDG_CONFIG_HOME or some such
#include "/home/doug/.config/Xresources/Xresources.colours"
